hw0/.vscode/c_cpp_properties.json
hw0/.vscode/launch.json
hw0/.vscode/tasks.json
hw0/main.exe
hw0/topword.exe
hw0/.vs/ProjectSettings.json
hw0/.vs/slnx.sqlite
hw0/.vs/VSWorkspaceState.json
hw0/.vs/hw0/v17/.suo
hw0/.vs/hw0/v17/Browse.VC.db
hw0/.vs/hw0/v17/ipch/AutoPCH/3944fc55f103e421/MAIN.ipch
hw0/topword.dSYM/Contents/Info.plist
hw0/topword.dSYM/Contents/Resources/DWARF/topword
hw0/topword
hw0/.vscode/settings.json
.gitignore
.DS_Store
hw1/Test Cases/run.sh
hw0/hw0-string-topword.pdf
hw1/hw1-string-topkfreqnumber.pdf
hw2/hw2-pyinterpreter-expressions.pdf
hw1/out.txt
hw1/__pycache__/ArgumentParser.cpython-310.pyc
hw2/.vscode/launch.json
hw2/.vscode/settings.json
.gitignore
