hw0/.vscode/c_cpp_properties.json
hw0/.vscode/launch.json
hw0/.vscode/tasks.json
hw0/main.exe
hw0/topword.exe
hw0/.vs/ProjectSettings.json
hw0/.vs/slnx.sqlite
hw0/.vs/VSWorkspaceState.json
hw0/.vs/hw0/v17/.suo
hw0/.vs/hw0/v17/Browse.VC.db
hw0/.vs/hw0/v17/ipch/AutoPCH/3944fc55f103e421/MAIN.ipch
